
<nav class="navbar">
    <div class="backbutton">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="#073980" class="bi bi-arrow-left" viewBox="0 0 16 16" routerLink="/dream-job">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
  </div>

  <div class="logo ">
    <img src="../../../assets/logo.png" class="logo-img" alt="...">
  </div>

</nav>

<div class = "container quiz">
    <br>
    <b><h2 class="header" style="color: var(--button-color)">LET'S LEARN MORE <br> ABOUT YOU</h2></b>

    
        <div class="img">
          <img src = "../../../assets/3d-render-smartphone-with-hand-fill-online-survey_107791-15837-removebg-preview (1).png">
        </div>
        <br>
        <br>

        <div class="row" id="btn-submit">
          <button routerLink="/quiz-questions" type="button" class="btn-custom" data-bs-toggle="button" >Let's Go!</button>
      </div>
    
</div>

<div class="eclipse-4"></div> 
<div class="eclipse-2"></div>
<div class="eclipse-3"></div> 





 
