<!-- component -->

<div class="eclipse-1"></div>
<div class="eclipse-4"></div>
<div class="eclipse-5"></div>
<div class="eclipse-6"></div>

<!-- <img
  class="h-0 text-center card-img-top img-logo"
  src="../../../assets/logo.png"
  alt="Logo"

/> -->

<div class = "container login-page" >
  
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"

>
    <div class="flex flex-col min-h-screen bg-grey-lighter">
        <div class="container flex flex-col items-center justify-center flex-1 max-w-sm px-2 mx-auto">
            <div class="w-full px-6 py-8 text-black rounded shadow-md l-container">
                <img
                class="h-0 text-center card-img-top img-logo"
                src="../../../assets/logo.png"
                alt="Logo"
              />
              <!-- <h1 class="form-heading">Login</h1> -->
                <div class="form-group pt-30">
                    <label for="username">Your Email</label>
                <input 
                    type="text"
                    class=" form-control"
                    formControlName="username"
                 
                    placeholder="sample@example.com"
                   />

                  </div>
    
                  <div class="form-group pt-15">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      placeholder="Password"
                    />

                  </div>
                  <div *ngIf="invalidCredentials" class="mb-3 text-center text-danger">
                    Fill in your credentials
                  </div>

                 
    
                  <div class="form-group mt-4 text-center">
                    <button type="submit" [disabled]="loading" class="text-white btn btn-primary btn-block">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="!loading">Login</span>
                    </button>
                  </div>
                  
                  <div class = "forgot">
                  <label class="fr">
                    <p>Forgot Password?
                    <a
                      class="text-blue-500 no-underline border-b border-grey-dark text-grey-dark"
                      href="/forgotPassword"
                    >
                       
                    </a></p>
                  </label>
                  <div class="pt-2 text-black text-grey-dark" id="cent">
                    Not a member?
                    <a class="text-blue-500 no-underline border-b border-blue" routerLink="/register">
                      Register</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<div class="eclipse-2"></div>
<div class="eclipse-3"></div>

<div *ngIf="successMessage" class="alert alert-success mt-3">
  {{ successMessage }}
</div>
