
.register{

  width: 100wh;
  height: 100vh;
  // overflow: hidden;
  margin-top: -5rem;
  z-index: 1;
  position: relative;

  .r-container{
    box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    background-color: #fff;
    background: linear-gradient(#ffffff,#ffffff, #bccdeb);
    border-radius: 20px !important;
    z-index: 9999999;
  }
  
  .container {
    margin-top: 100px;
    margin-bottom: 50px;

      }
  
  .form-control{
      border-radius: 30px;
      height: 40px;
      border: solid #A1C2F3;
  }
  
  .pt-15{
      padding-top: 15px;
  }
  .img-logo{
    margin-bottom: -63px;
    margin-top: -88px;
    margin-left: 4rem;
   
  }
  
  button{
      background-color: #75A1DF;
      /* height: 50px; */
      /* width:40px; */
      margin-top: 15px;
      
  }
  
  
  .alert{
      background: none !important;
      border: 0px !important;
      color: red !important;
      padding:0px !important
  }

  .names input{
    width: 9rem;
  }
  
  .names{
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .cityGrade{
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

 
// form{
//   margin-top: -3rem;
//   margin-bottom: -3rem;
// }

.alreadyExist{
  margin-top: -2rem;
  margin-left: 1.6rem;
}

}
.swal2-container{
  z-index: 999999999 !important;
}  
.swal2-backdrop-show{
  z-index: 999999999 !important;
}
