<app-navbar></app-navbar>

<br />

<!-- display data from the database -->

<!-- <h2>Data Display</h2>

 <div *ngIf="quiz">
    
    <ul>
      <li *ngFor="let item of quiz; let indexOfelement=index;">

       
        <div *ngIf="indexOfelement === 1">
          <p >{{ item.quizQuestion }}</p>
        </div>
 
      </li>
    </ul>
  </div>   -->

<br /><br />
<!-- 
<form (ngSubmit)="submitQuiz()" #quizForm="ngForm">
    <div *ngFor="let question of quizQuestions">
      <h4>{{ question.questionText }}</h4>
      <div *ngFor="let option of question.options" >
        <div *ngIf="question.questionId < 3">

          
        <input 
          type="radio"
          name="{{ question.questionId }}"
          [(ngModel)]="question.selectedOption"
          [value]="option"
        />
        <label>{{ option }}</label>

      </div>


      <div *ngIf="question.questionId >= 3">
          <input placeholder="enter here "
          name="{{question.questionId}}"
          [(ngModel)] = "question.selectedOption"
          [value]="option"/>

      </div>
    </div>
    </div>
    <button type="submit">Submit Quiz</button>
  </form> -->



  

<!-- new html code starts here -->
 <div>
  <mat-horizontal-stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <!-- <ng-template matStepLabel>Step 1</ng-template> -->

        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 1">
            <a
              class="block max-w-sm p-5 bg-blue-500 border mb-20 mt-16 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-white dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>

            <!-- <mat-form-field class="border-gray-50">
              <input
                matInput
                formControlName="field1"
              
                [(ngModel)]="question.selectedOption"
                [value]="option"
              /> -->
             

               <button
                mat-button
                matStepperNext
                
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
                 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
                 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                
                 [value]="question.options[0]"
                 (click)="selected1(question, question.options[0])"
              >
              Remote
              </button>

              <button type="text"
                mat-button
                matStepperNext
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 m-2 font-medium 
                rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 
                focus:outline-none dark:focus:ring-blue-800"
                 
                [value]="question.options[1]"
                (click)="selected1(question, question.options[1])"
              >
                On-site
              </button> 

             


            <!-- </mat-form-field> -->

         
           </div>
        </div> 
        <!-- <div>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
         <!-- <ng-template matStepLabel>Step 2</ng-template>  -->
         <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 2">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>

            <mat-form-field>
              <input
                matInput
                placeholder="Field 2"
                formControlName="field2"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <!-- <ng-template matStepLabel>Step 3</ng-template> -->
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 3">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>
            <mat-form-field>
              <input
                matInput
                placeholder="Field 3"
                formControlName="field3"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <br />

    <mat-step [stepControl]="fouthFormGroup">
      <form [formGroup]="fouthFormGroup"> -->
        <!-- <ng-template matStepLabel>Step 4</ng-template> -->
         <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 4">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>

            <mat-form-field>
              <input
                matInput
                placeholder="Field 4"
                formControlName="field4"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <!-- <ng-template matStepLabel>Step 5</ng-template> -->
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 5">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>
            <mat-form-field>
              <input
                matInput
                placeholder="Field 5"
                formControlName="field5"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="sixthFormGroup">
      <form [formGroup]="sixthFormGroup">
        <ng-template matStepLabel>Step 6</ng-template>
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 6">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>
            <mat-form-field>
              <input
                matInput
                placeholder="Field 6"
                formControlName="field6"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="seventhFormGroup">
      <form [formGroup]="seventhFormGroup">
        <ng-template matStepLabel>Step 7</ng-template>
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 7">
            <a
              class="block max-w-sm p-5 bg-green border mr-7 mb-10 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
              id="bcolor"
            >
              <p
                class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
              >
                {{ question.questionText }}
              </p>
            </a>
            <mat-form-field>
              <input
                matInput
                placeholder="Field 7"
                formControlName="field7"
                [(ngModel)]="question.selectedOption"
                [value]="option"
              />
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

   

    <mat-step>
     

      <a
        class="block max-w-sm p-5 bg-green border mb-20 mt-16 border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        id="bcolor"
      >
        <p
          class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
        >
          please wait for thr generated career for you
        </p>
      </a>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submitQuiz()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div> 
<div class="eclipse-4"></div>
<div class="eclipse-2"></div>
<div class="eclipse-3"></div>