<!-- main.component.html -->

<div class="input-container">
  <label for="careerChoice">Enter your career choice:</label>
  <input type="text" id="careerChoice" [(ngModel)]="enterCareer">
  <button (click)="generateCourses()">Generate Courses</button>
</div>

<div class="course-list">
  <div class="card" *ngFor="let course of courses; let i = index">
    <div class="card-body">
      <h5 class="card-title">{{ course.uniName }}</h5>
      <p class="card-text">{{ course.courseName }}</p>
    </div>
  </div>
</div>
