<div>
  <label for="careerChoice">Enter your career choice:</label>
  <input type="text" id="careerChoice" [(ngModel)]="careerChoice" />
  <button (click)="generateRecommendations()">Get Recommendations</button>
</div>

<div *ngIf="isLoading; ">
<!-- Show the loader while waiting for the API response -->
<div class="loader">...</div>
</div>


<div *ngIf="recommendations.length > 0">
  <h3>Recommended universities and courses:</h3>
  <ul>
  <li *ngFor="let recommendation of recommendations">{{ recommendation }}</li>
  </ul>
</div>
<div *ngIf="recommendations.length === 0 && !isLoading">
  No career recommendations found.
</div>


