@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap%27');

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: var(background-color)
}

.navbar {
    margin-top: -2.5rem;
}

// .logo {
//     / justify-content: center; /

// }


.navbar {
    margin-top: -2.5rem;
  //   display: flex;
  
    .backbutton {
      cursor: pointer;
      margin-left: 8px;
    }
  
    .logo-img {
  //    margin-right: 10rem;
     width: 150px;
    }
  }

.question {
    text-align: center;
    font-size: 22px;
    font-family: 'poppins';
}

.dream-btn {
    display: flex;
    justify-content: center;
}

.dream-btn button {
    background-color: #75A1DF;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.dream-btn button:hover {
    background-color: #89a5cd;
}



.questionMark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionMark img {
    max-width: 100%;
    max-height: 100%;
    width: 800px; 
    height:300px; 
}
