<div *ngIf="showRecommendations" class="container">
    <h1 class="category-heading">Suitable Courses</h1>
    <div class="row">
        <div class="col-sm-3" *ngFor="let course of courseRecommendations; let i=index">
            <div class="mb-3 card">
                <div class="card-body">
                    <h3 class="card-title">{{ course.courseName }}</h3>
                    <p><strong>University:</strong> {{ course.uniName }}</p>
                    <p><strong>Duration:</strong> {{ course.courseDuration }}</p>
                    <p><strong>Admission Requirements:</strong> {{ course.admissionRequirements }}</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
