<meta name="viewport" content="width=device-width, initial-scale=1">

<div class = "container content">
<div class="subjects-page" >
  <p class="fs-4">Select the subjects you are doing</p>
  <p class="fs-5">To better guide you on your journey</p>
  <!-- Sending selected subjects to be stored on database on Click -->
  <div class="alert alert-warning" *ngIf="selectedSubjects.length > 9">
    You can select a maximum of 9 subjects.
  </div>
  <div class = "subStyle">
    <div class = "sub" *ngFor="let subject of subjects" >
      <label>
        <input
          type="checkbox"
          [value]="subject.id"
          (change)="isChecked($event)"
        />
         
        {{ subject.subjectName }}
      </label>
    </div>
    </div>
    
    <div class="row" id="btn-submit">
      <button
        type="button"
        class="btn"
        [disabled]="loading || allSelectedId.length === 0 || allSelectedId.length > 9"
        (click)="onSubmit()"
      >
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!loading">Submit</span>
        
      </button>
    </div>
   
    </div>
    
    <div class="eclipse-2"></div>
    <div class="eclipse-1"></div>
    <div class="eclipse-6"></div>
    <div class="eclipse-4"></div>
</div>

