<div class="col">
  <div class="row">
    <p class="fs-1">Select the subjects you are doing</p>
    <p class="fs-2">To better guide you on your journey</p>
  </div>
</div>
<div class="row">
  <form>
    <div class="multiselect">
      <div class="selectBox" (click)="showCheckboxes()">
        <select>
          <option>Subjects</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxes" *ngIf="showCheckbox">
        <ul class="dropdown">
          <li>
            <label for="allEvents">
              <input
                type="checkbox"
                id="allEvents"
                [(ngModel)]="selectedAll"
                name="allEvents"
                (change)="selectAll()"
              />All Events
            </label>
          </li>
          <li *ngFor="let channel of channelDDList">
            <label for="{{ channel.channelId }}">
              <input
                type="checkbox"
                id="{{ channel.channelId }}"
                [(ngModel)]="channel.selected"
                (change)="checkIfAllSelected()"
                name="{{ channel.channelId }}"
              />{{ channel.channelName }}</label
            >
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
