.navbar {
    margin-top: -2.5rem;
    display: flex;
  
    .backbutton {
      cursor: pointer;
      margin-left: 8px;
    }
  
    .logo-img {
     margin-left: 10rem;
     width: 150px;
    }
  }

* {
    background-color: var(--background-color);
}