.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hamburger{
  span{
    font-size: 20px;
  }
}

// .example-container {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }

// .example-sidenav {
//   padding: 20px;
// }
