<nav role='navigation'>
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			<ul id="menu">
      <img class="avatar mat-elevation-z8" src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png"/>
      <h4 class="name">Username</h4>
      <p class="designation">Software Engineer</p>
      <mat-divider></mat-divider>
				<a href="#">
					<li><i class="bi bi-house-door-fill"></i>Home<i class="bi bi-chevron-right"></i></li>
				</a>
        <hr>
				<a href="#">
         
					<li><i class="bi bi-person-fill"></i>Account<i class="bi bi-chevron-right"></i></li>
				</a>
        <hr>
				<a href="#">
					<li><i class="bi bi-house-door-fill"></i>About<i class="bi bi-chevron-right"></i></li>
				</a>
        <hr>
				<a href="#">
					<li><i class="bi bi-box-arrow-right"></i>Logout<i class="bi bi-chevron-right"></i></li>
				</a>
        <hr>
			</ul>
		</div>
	</nav>
