<div class="navbar custom-no-wrap">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nav-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Homepage</a></li>
        <li><a>Portfolio</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-center">
    <div class="logo">
      <img src="../../../assets/logo.png" class="logo-img" alt="..." />
    </div>
  </div>
  <div class="navbar-end"></div>
</div>
<div class="container ">
  
  <div class="flex px-10">
    <!-- <div class="flex-col items-center pb-10">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" style="margin-right: 24rem;"src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile image"/>
      <h5 class="mb-1  text-xl font-medium text-gray-900 dark:text-white" style="margin-top: -6rem; margin-right: 8rem">Bonnie Green</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400"style="margin-right: 8rem">03 January 2007</span>
   
    </div> -->
    <div class="text">
      <h5 class="mb-4 ml-12 text-xl font-medium text-gray-900 dark:text-white">Hi, Nandi Nxumalo</h5>
      <!-- <span class="text-sm text-gray-500 dark:text-gray-400">03 January 2007</span> -->
      
    </div>
  </div>
  <div class="px-10 text-center pb-3">
    <span class="font-bold" > Unlock the future you deserve</span>
  </div>
  <div class="c-container">
    <div class="flex">
      <div class="flex-col px-10">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="px-10">
              <svg class="w-16 h-20 text-blue-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M9.546.5a9.5 9.5 0 1 0 9.5 9.5 9.51 9.51 0 0 0-9.5-9.5ZM13.788 11h-3.242v3.242a1 1 0 1 1-2 0V11H5.304a1 1 0 0 1 0-2h3.242V5.758a1 1 0 0 1 2 0V9h3.242a1 1 0 1 1 0 2Z"/>
                </svg>
          </figure>
          <div class="card-body items-center text-center" routerLink="/dream-job">
            <h2 class="card-title">Add a Career </h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="flex-col">
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure class="px-1 pt-2">
              <img
                src="../../../assets/icons8-view-48.png"
                alt="Shoes"
                class="rounded-xl w-16 h-16"
              />
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title mt-2">View your career</h2>  
            </div>
          </div>
        </div>
    </div>
    <div class="flex">
      <div class="flex-col px-10">
        <div class="card w-96 mt-10 bg-base-100 shadow-xl">
          <figure class="px-0 pt-0">
            <img
              src="../../../assets/smartphone_1030708.png"
              alt="Shoes"
              class="rounded-xl w-16 h-16 mt-3"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2">Timeline</h2>
          </div>
        </div>
      </div>
      <div class="flex-col">
        <div class="card w-96 mt-10 bg-base-100 shadow-xl">
          <figure class="px-0 pt-0">
            <img
              src="../../../assets/icons8-grade-64.png"
              alt="Shoes"
              class="rounded-xl w-16 h-17 mt-2"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-3">Subjects marks</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eclipse-1"></div>
  <div class="eclipse-2"></div>
  <div class="eclipse-3"></div>
  <div class="eclipse-4"></div>
</div>
