<div class="container homepage " style="padding: inherit;">

<!-- <div class="eclipse-5"></div> -->
<app-hamburger></app-hamburger>

  <div class="flex px-10">
    <div class="text">
      <h5 class="mb-4 ml-12 text-xl font-medium text-gray-900 dark:text-white">Hi, {{user.name}} {{user.surname}}</h5>
    </div>
  </div>
  <div class="px-10 text-center pb-3">
    <span class="font-bold" > Unlock the future you deserve</span>
  </div>
  <div class="c-container">
    <div class="flex">
      <div class="flex-col px-10">
        <div class="card w-96 bg-base-100 shadow-xl" routerLink="/dream-job">
          <figure class="px-10">
              <svg class="w-16 h-35 text-blue-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M9.546.5a9.5 9.5 0 1 0 9.5 9.5 9.51 9.51 0 0 0-9.5-9.5ZM13.788 11h-3.242v3.242a1 1 0 1 1-2 0V11H5.304a1 1 0 0 1 0-2h3.242V5.758a1 1 0 0 1 2 0V9h3.242a1 1 0 1 1 0 2Z"/>
                </svg>
          </figure>
          <div class="card-body items-center text-center" >
            <h2 class="card-title" style="margin-bottom:-5px;" >Add a Career </h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="flex-col">
          <div class="card w-96 bg-base-100 shadow-xl" routerLink="/viewcareer">
            <figure class="px-1 pt-2">
              <img
                src="../../../assets/icons8-view-48.png"
                alt="add career"
                class="rounded-xl w-16 h-18"
              />
            </figure>
            <div class="card-body items-center text-center">
              <h2 class="card-title mt-2">View your career</h2>  
            </div>
          </div>
        </div>
    </div>
    <div class="flex">
      <!-- Timeline card -->
      <div class="flex-col px-10">
        <div class="card w-96 mt-10 bg-base-100 shadow-xl" routerLink="/timeline">
          <figure class="px-0 pt-0">
            <img
              src="../../../assets/smartphone_1030708.png"
              alt="view career"
              class="rounded-xl w-16 h-16"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2">Timeline</h2>
          </div>
        </div>
      </div>
      <div class="flex-col">
        
        <div class="card w-96 mt-10 bg-base-100 shadow-xl" routerLink="/subjectmarks">
          <figure class="px-0 pt-0">
            <img
              src="../../../assets/icons8-grade-64.png"
              alt="Timeline"
              class="rounded-xl w-16 h-18"
            />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title mt-2">Subjects marks</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="eclipse-1"></div> -->
  <div class="eclipse-2"></div>
  <div class="eclipse-6"></div>
  <div class="eclipse-4"></div>
  <div class="eclipse-3"></div>
</div>



