.quiz{

  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin-top: -3rem;

  .header{
    font-weight:bolder;
    font-size:xx-large;
    // color: #73C2FB;
    
    text-align: center;
}

#button{
    margin-left: 35%;
    size: 100px;
    
}
}

.navbar {
    margin-top: -2.5rem;
    display: flex;
  
    .backbutton {
      cursor: pointer;
      margin-left: 8px;
    }
  
    .logo-img {
     margin-left: 10rem;
     width: 150px;
    }
  }
