 <app-navbar></app-navbar>
<div class = "container quiz">
    <br>
    <b><h1 class="header  text-blue-400">LET'S LEARN MORE ABOUT YOU</h1></b>

    
        <div class="img">
                <img src = "https://img.freepik.com/free-photo/3d-render-smartphone-with-hand-fill-online-survey_107791-15837.jpg?w=2000">

        </div>
        <br>
        <br>
        <button class="btn-submit" type="button" id="button" class="px-10 py-3.5 text-base font-medium text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-600" routerLink="/quiz-questions">Let's Go!</button>
    
</div>

<div class="eclipse-4"></div> 
<div class="eclipse-2"></div>
<div class="eclipse-3"></div> 






 
