// .quiz{
//     padding:20px;
// }

.header{
    font-weight:bolder;
    font-size:xx-large;
    // color: #73C2FB;
    
    text-align: center;
}

#button{
    margin-left: 35%;
    size: 100px;
    
}

// .btn-submit {
//     background-color: orange;
// }

.eclipse-4{
   margin-top:  290px; 
   z-index: 0;
}