.careers{
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .heading{
        display: flex;
        justify-items: center;
        // position: fixed;
        // z-index: 2;

        h2{
            font-weight: bolder;
            margin-top: .8rem;
            margin-left: 1.5rem;
        }
    }

    .card{
        width: 80%;
        background-color: var(--career-cards);
        height: 80%;

        .name{
            font-size: 20px;
            font-weight: bolder; 
        }

        .card-body a{
            margin-left: 10rem;
            text-decoration: none;
            // color: black;
        }
    }

}