<!-- <div class = "container careers">
    <div class = "heading">
        <div class="backbutton">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="#073980" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" routerLink="/home"/>
              </svg>
        </div>
        <h2>Recommended Careers</h2>
    </div> -->

    <!-- <div class="row cards " width="100%">
        <div class="col-md-3" *ngFor="let career of careers">
            <div class="mt-10 card" style="width: 100%;">
               
                <div class="card-body">
                    <span class = "name">{{career.name}}</span><br>
                    <p>{{career.description}}</p><br>
                    <a routerLink="">Related courses<i class="bi bi-forward-fill"></i></a>
                </div>
              </div>
        </div>
    </div> -->

    <!-- <div class="container">
        <div class="row">
          <div class="mx-auto my-3 col-md-3" *ngFor="let career of careers">
            <mdb-card class="card">
              <mdb-card-body>
                <mdb-card-title>
                  <h4>{{career.careerName}}</h4>
                </mdb-card-title>
      
                <mdb-card-text>
                  <p>{{career.careerDescription}}</p>
                </mdb-card-text>
      
                <a routerLink="" class="">Related courses<i class="bi bi-forward-fill"></i></a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>
</div>
<div class="eclipse-2"></div>
<div class="eclipse-6"></div>
<div class="eclipse-4"></div>
<div class="eclipse-3"></div> -->