
<!--Eclipses-->
<div class="eclipse-2"></div>
<!-- <div class="eclipse-1"></div> -->
<div class="eclipse-6"></div>
<!-- <div class="eclipse-4"></div> -->

<nav class="navbar">
    <div class="backbutton">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="#073980" class="bi bi-arrow-left" viewBox="0 0 16 16" routerLink="/dream-job">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
   </div>
  
   <div class="logo ">
    <img src="../../../assets/logo.png" class="logo-img" alt="...">
    </div>

</nav>


<!--NAVBAR - To be converted to component-->
<!-- <app-navbar></app-navbar> -->


<!--MAIN CONTENT & INPUT FIELD-->
<div *ngIf="!showLoader && !showRecommendations" class = "container career">
        <img src="../../../assets/career.png" class="logo-img" alt="...">
    <!-- <form>   -->
    <div class = "type">
        <label for="first-name">What is your career choice?</label><br>
        <input id="careerChoice" type="text" name ="career" [(ngModel)]="careerChoice" placeholder="Enter your career choice" required/>
    </div> 
    <!-- </form> -->
    <div class="row" id="btn-submit">
        <button type="button" class="btn btn-custom" data-bs-toggle="button" (click)="generateCourses()" >Submit</button>
    </div>
</div>

<!--LOADER-->
<div *ngIf="showLoader" class="loader-container">
    <img src="../../../assets/blue loader.gif" alt="Loading...">
    <p>Generating course recommendations...</p>
</div>



<!--Course cards-->
<div  *ngIf="showRecommendations"  class="container">
    <h1 class="category-heading">Suitable Courses</h1>
    <div class="row">
        <div class="col-sm-3" *ngFor="let course of courseRecommendations; let i=index">
            <div class="mb-3 card" [style.background-color]="cardBackgroundColors[i]" [routerLink]="['/careerChoice', ]">
                <div class="card-body">                
                    <h3 class="card-title">{{ course.courseName }}</h3>
                    <!-- <h3 class="card-title">{{ course.uniName }}</h3> -->

                    <!-- <h3 class="card-title">{{ course.courseDescription }}</h3>
                    <h3 class="card-title">{{ course.admissionRequirements}}</h3> -->
                     <!-- <button [routerLink]="['/career', course.courseName]">View Course</button> -->
                     <div class="courseDetails">
                         <!-- Pass the course name as a query parameter -->
                         <a [routerLink]="['/course-details']" [queryParams]="{ courseName: course.courseName }">View Course <i class="bi bi-forward-fill"></i></a>
                     </div>
                     
                </div>
            </div>
        </div>
    </div>
</div>