
<div class = "container career">
 
        <img src="../../../assets/career.png" class="logo-img" alt="...">
<form>  
    <div class = "type">
        <label for="first-name">What is your career choice?</label><br>
        <input id="text1" type="text" name ="career" placeholder="type your career choice">
    </div> 
</form>
    <div class="row" id="btn-submit">
        <button type="button" class="btn" data-bs-toggle="button" routerLink="">Submit</button>
      </div>
</div>
<div class="eclipse-2"></div>
<div class="eclipse-1"></div>
<div class="eclipse-6"></div>
<div class="eclipse-4"></div>

