<!-- Add this within your 'container login-page' div -->
<!-- <div *ngIf="showRequestPasswordForm">
    <h2>Forgot Password</h2>
    <form [formGroup]="requestPasswordForm" (ngSubmit)="onRequestPasswordSubmit()">
      <div class="form-group">
        <label for="requestEmail">Enter your Email</label>
        <input type="email" class="form-control" formControlName="requestEmail" required />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Reset OTP</button>
      </div>
    </form>
  </div> -->
  <!-- component -->

<div class="eclipse-1"></div>
<div class="eclipse-4"></div>
<div class="eclipse-5"></div>
<div class="eclipse-6"></div>

<div class = "container login-page" >
  <form [formGroup]="requestPasswordForm" (ngSubmit)="onRequestPasswordSubmit()">
>

    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container  max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class=" l-container px-6 py-8 rounded shadow-md text-black w-full">
                <img
                class="card-img-top text-center img-logo h-60 w-50"
                src="../../../assets/logo.png"
                alt="Logo"

              />
              <h2>Forgot Password</h2>
                <div class="form-group pt-30">
                  <label for="requestEmail">Enter your Email</label>
                <input 
                    type="text"
                    class=" form-control"
                    formControlName="requestEmail"
                 
                    placeholder="sample@example.com"
                   />

                  </div>
                <div ngClass="form-group mt-4 text-center">
                    <button type="submit" class="btn btn-primary btn-block text-white">Send Reset OTP</button>
                  </div>
            </div>
        </div>
    </div>
</form>
</div>
<div class="eclipse-2"></div>
<div class="eclipse-3"></div>


