.request-page{
  padding-bottom: 8rem;
  overflow: hidden;
  position: static;
  height: 100vh;

  #cent{
      text-align: center;
  }
  
  #log-suc{
      margin-top: 15rem;
      text-align: center;
      /* display: flex; */
      justify-content: center;
  }
  
  .r-container{
    box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 3px 5px 4px rgba(0,0,0,0.24);
    background-color: #fff;
    background: linear-gradient(#ffffff,#ffffff, #bccdeb);
    border-radius: 20px !important;
    z-index: 9999999;

    h3{
        color: var(--text-color);
    }

    .alert1{

        p{
         background-color: rgb(150, 215, 171);
         padding: 5px 25px;
         border: 0;
         border-radius: 5px;
         color: black;
        }
         
    }
  }
  .pt-30{
      padding-top: 30px;
  }
  .container {
    margin-top: 100px;
   
      }
  
  .form-control{
      border-radius: 30px;
      height: 50px;
      border: solid #A1C2F3;
  }
  
  .pt-15{
      padding-top: 15px;
  }
//   .img-logo{
//     margin-bottom: -63px;
//     margin-top: -88px;
//     margin-left: 5rem;
//   }
  
  button{
      background-color: #75A1DF;
  }
  
  
  .alert{
      background: none !important;
      border: 0px !important;
      color: red !important;
      padding:0px !important
  }
   

}
