<!-- Add this within your 'container login-page' div -->
<div *ngIf="showRequestPasswordForm">
    <h2>Forgot Password</h2>
    <form [formGroup]="requestPasswordForm" (ngSubmit)="onRequestPasswordSubmit()">
      <div class="form-group">
        <label for="requestEmail">Enter your Email</label>
        <input type="email" class="form-control" formControlName="requestEmail" required />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Reset OTP</button>
      </div>
    </form>
  </div>
  