/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --background-color: #F2F6FD;
    --text-color: #073980;
    --button-color: #75A1DF;
    --cards-color:#E6E6FA;
  }
  

.eclipse-1{
    position: fixed;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    background: linear-gradient(#c2e8e6, #9198e5);
    z-index: -999999;
    top: 40px;
    left: 150px;
}
.eclipse-2{
    position: fixed;
    height: 200px;
    border-radius: 50%;
    width: 200px;
    background: linear-gradient( #9198e5, #c2e8e6);
    z-index: -999999;
    bottom: -40px;
    left:-40px;
}

.eclipse-3{
    position: fixed;
    height: 350px;
    border-radius: 50%;
    width: 350px;
    z-index: -999999;
    right: 380px;
    bottom: 40px;
    background: linear-gradient(#ffffff, #AED3E8);
}

.eclipse-4{
    position: fixed;
    border-radius: 50%;
    background-color: #E6E6FA;
    z-index: -999999;
    right: -90px;
    top: -100px;
    width: 250px;
    height: 250px;
}

.eclipse-5{
    position: fixed;
    height: 250px;
    border-radius: 50%;
    width: 250px;
    background: linear-gradient(#def3f2, #b8bce4);
    z-index: -999999;
    top: 60px;
    left:450px;
}

.eclipse-6{
    position: fixed;
    border-radius: 50%;
    z-index: -999999;// z-index: 9999;
    top: 300px;
    left: 200px;
    width: 200px;
    height: 200px;
    // background-color: #E6E6FA;
    background: linear-gradient(#fff, #cecef0);
}
.container{
    z-index: 1;
  position: relative;
}

