<div class="container content mt-10">
  <div class = "heading">
  <div class="backbutton">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="#073980" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" routerLink="/home"/>
      </svg>
</div>
<div class="marks-container">
  <h1>Subject Marks</h1>
  <div *ngIf="belowAverage.length > 0">
    <label >You are below average of 50% on 
      <span *ngFor="let subject of belowAverage"> {{subject}},</span>
     </label><br>
  </div>
</div>
</div>
  <div class="subjects-page">
    <div class="marks-container">
      <p>Update your marks:</p>
    <!-- Sending selected subjects to be stored on the database on Click -->
    <div class="subject-card" *ngFor="let subject of subjects">
      <div class="subject-name">
        {{ subject.subjectName }}
      </div>
      <div class="subject-marks">
        <div class = "marksContainer">
        <div class="form-group">
          <input
            [id]="subject.selectedid" 
            class="form-control"
            [value]="subject.subject_marks"
            (change)="isChanged($event)"
          />
        </div>
      </div>
        <p>%</p>
      </div>
    </div>
    <div class="row" id="btn-submit">
      <button type="button" class="btn" (click)="onSubmit()">Update</button>
    </div>
  </div>
    </div>
  <div class="eclipse-2"></div>
  <div class="eclipse-6"></div>
  <div class="eclipse-4"></div>
</div>
