// ... your existing SCSS styles ...
.content{
    height: 100vh;
    justify-content: center;

    .heading{
        display: flex;
        align-items: center;
        margin-top: -2rem;

        .backbutton {
            cursor: pointer;
            margin-left: 8px;
          }

        h1{
            font-weight: bolder;
            color: var(--text-color);
            line-height: 1.2rem;
            margin-left: 3.8rem;
        }
    }

    .marks-container {
      margin-left: auto;
      margin-right: auto;
      width: 350px;
  }

    .subjects-page{
      padding-top: 20px;

        .subject-card {
            display: flex;
            align-items: center;
            // margin-top: 5px;
            padding: 10px 5px;
            width: 20rem;
            margin-bottom: 8px ;
            background-color: rgba(255, 255, 255, 0.936);
            border-radius: 8px;
            border: 1px solid  #A1C2F3;
            margin-left: 25px; /* Added margin on the left side */
            margin-right: 20px; /* Added margin on the right side */
            
          }
         
          p{
            font-weight: bolder;
            color: var(--text-color);
            line-height: 1.2rem;
            position: relative;
            margin-left: 1.6rem;
            font-size: 20px;
           }
          .subject-name {
            flex: 1;
            font-size: 20px;
            font-style: poppin;
            font-family: 'Times New Roman', Times, serif;
            color: var(--text-color);
            margin-left: 1rem;
          }
          
          .subject-marks {
            width: 100px;
            margin-left: 2rem;
            // margin-right: .5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            // row-gap: 2px;

            .marksContainer{
                left: 3rem;
            }

            p{
                font-size: 22px;
                justify-items: center;
                top: .5rem;
                right: 10px;
            }
          }
          
          .form-group {
            margin-bottom: 0;
          }
          
          .btn {
            color: #fff;
            padding: 8px 5px;
            background-color: var(--button-color);
            border-radius: 12px;
            font-weight: bold;
            font-size: 18px;
            width: 12rem;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
          }
          
          #btn-submit {
            justify-content: center;
            padding-top: 10px;
          }
        
    }  
      
}
