<div class="container text-center">
    <div class="col">
      <div class="row text-center" >
        <img src="../../../assets/logo.png" class="rounded" alt="...">
      </div>
      <div class="row">
        <p class="fs-1">Discover your Career</p>
        <p class="fs-2">Explore your Passion</p>
      </div>
      <div class="row">
        <img src="../../../assets/picture1.png" class="rounded" alt="...">
      </div>
      <div class="row">
        <button type="button" class="btn" data-bs-toggle="button">Get Started</button>
      </div>
    </div>
  </div>
<!-- <div class="eclipse-3"></div> -->

