.btn2 {
    color: #fff;
    padding: 13px 20px;
    background-color: var(--button-color);
    border-radius: 14px;
    // font-weight: bold;
    font-size: 18px;
    width: 14rem;
    border: none;
    transition: box-shadow 0.3s;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    // user-select: none;
    // -webkit-user-select: none;
    // touch-action: manipulation;
    cursor: pointer;
}


.btn2:hover {
    /* Add 3D shadow effect on hover */
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

  }

 .page{
    overflow: hidden;
    position: absolute;
    justify-items: auto;
}

.container{
    overflow: hidden;
    position: sticky;
    width: fit-content;
    block-size: fit-content;
    padding-bottom: -60rem;
    background-color: #F2F6FD;


    p{
        font-weight: bolder;
        color: var(--text-color);
        margin-bottom: 2px;
        
    }
    .logo{
        margin-top: -3.5rem;
        margin-bottom: -4rem;
        margin-left: 3rem;
        height: 14rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        /* position: relative; */
     
    }

    #btn-getstarted{
        justify-content: center;
    }
}

#landing-header {
    font-size: 300px;
}