<div class="container text-center">
    <div class="eclipse-4"></div>
    <div class="col">
      <div class="logo row" >
        <img src="../../../assets/logo.png" class="" alt="...">
      </div>
      <div class="eclipse-6"></div>
      <div class="row">
        <p class="fs-1">Discover your Career</p>
        <p class="fs-2">Explore your Passion</p>
      </div>
      <div class="row">
        <img src="../../../assets/picture1.png" class="" alt="...">
      </div>
      <div class="eclipse-2"></div>
      <div class="eclipse-5"></div>
      <div class="row" id="btn-getstarted">
        <button type="button" class="btn" data-bs-toggle="button" routerLink="/login">Get Started</button>
      </div>
      <!-- <div class="eclipse-1"></div> -->
    </div>
  </div>
<!-- <div class="eclipse-3"></div> -->
<!-- <div class="eclipse-2"></div>
<div class="eclipse-3"></div> -->
