.btn2 {
    color: #fff;
    padding: 13px 20px;
    background-color: var(--button-color);
    border-radius: 14px;
    // font-weight: bold;
    font-size: 18px;
    width: 14rem;
    border: none;
    transition: box-shadow 0.3s;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    // user-select: none;
    // -webkit-user-select: none;
    // touch-action: manipulation;
    cursor: pointer;
}


.btn2:hover {
    /* Add 3D shadow effect on hover */
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

  }

 .page{
    overflow: hidden;
    position: absolute;
    justify-items: auto;
}

.container{
    overflow: hidden;
    position: sticky;
    width: fit-content;
    block-size: fit-content;
    padding-bottom: -60rem;
    // background-color: #F2F6FD;


    p{
        font-weight: bolder;
        color: var(--text-color);
        margin-bottom: 2px;
        
    }
    .logo{
        margin-top: -3.5rem;
        margin-bottom: -4rem;
        margin-left: 3rem;
        height: 14rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        /* position: relative; */
     
    }

    #btn-getstarted{
        justify-content: center;
    }
}

#landing-header {
    font-size: 300px;
}
@media (max-width: 640px) {
    .btn2 {
      font-size: 16px;
      width: 12rem;
    }
  
    #landing-header {
      font-size: 24px;
    }
  }
  
  /* Tablet Styles */
  @media (min-width: 641px) and (max-width: 1024px) {
    .container {
      text-align: left;
    }
  
    .col {
      align-items: flex-start;
    }
  
    .logo {
      margin-left: 1rem;
    }
  
    #landing-header {
      font-size: 36px;
    }
  
    .btn2 {
      width: 10rem;
    }
  }
  
  /* Laptop Styles */
  @media (min-width: 1025px) and (max-width: 1440px) {
    .container {
     justify-content: left;
    //  margin-left:0;
     position: relative;
      }
    .fs-1{
      font-size: 35px !important;
      margin-left: 20rem;
    }
    .logo {
        margin-left: 12rem !important;
        width: 18rem !important;
        height: 18rem !important;
      }

      .btn2 {
        width: 16rem;
        font-size: 25px;
      }

      .landingImg{
        width: 40rem;
         margin-left: -7rem;
      }

      #landing-header {
        font-size: 300px;
        margin-right: 5px !important;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 1441px) {
    #landing-header {
      font-size: 60px;
    }
  }