<div class="container text-center">
    <div class="col">
      <!-- VocaSelect logo -->
      <div class="row" >
        <div class="col logo-container">
          <img src="../../../assets/logo-removebg-preview.png" class="logo" alt="...">
        </div>
      </div>
      <div class="eclipse-6"></div>
      <div class="row" id="landing-header">
        <div class="col-md-6">
         <div class="intro">
          <p class="fs-1">Discover your Career</p>
          <p class="fs-1">Explore your Passion</p>
         </div>
        </div>
     
        <div class="col-md-6">
          <img src="../../../assets/picture1.png" class="landingImg" alt="...">
        </div>
      </div>
     

      <!-- class for the get started button -->
      <div class="row" id="btn-getstarted">
       <div class="col">
        <button type="button" class="btn2" data-bs-toggle="button" routerLink="/login">Get Started</button>
       </div>
      </div>
    </div>
  </div>
  <div class="eclipse-2"></div>
  <div class="eclipse-4"></div>
  <div class="eclipse-5"></div>

