<!-- <app-navbar></app-navbar> -->

<div *ngIf="!showLoader && !showRecommendations" class="div">
  
  <button
    *ngIf="hidden"
    mat-raised-button
    (click)="isLinear = !isLinear"
    id="toggle-linear"
  >
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button>

  <mat-stepper [linear]="isLinear" #stepper>
    <!-- first input-->
    <mat-step [stepControl]="firstFormGroup" style="background-color: green;">
      <form [formGroup]="firstFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 1">
        <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>

        <br /><br /><br /><br />
        <a
          class="block max-w-sm p-6 bg-green border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
        
          <p
            class="font-normal style=justify-content: center; text-gray-700 dark:text-gray-400"
          >
          {{question.questionText}}
          </p>
        </a>

        <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
        <mat-form-field style="justify-content: center;" appearance="outline">
          <br /><br /><br /><br /><mat-label>Fill in your subjects</mat-label>
          <!-- <input type="text" placeholder="English, Geography"> -->
          <input
            matInput
            placeholder="eg. English, Geography"
            formControlName="firstCtrl"
            required
            [(ngModel)]="question.selectedOption"
            [value]="option"
            
          />

          <!-- <button
          mat-button
          matStepperNext
          class="text-white bg-blue-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Next
        </button> -->
        </mat-form-field>
        

        <div class="nextBtn">
          <button
            mat-button
            matStepperNext
            class="text-white bg-blue-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Next
          </button>
        </div>
      </div>
    </div>
      </form>
   
    </mat-step>
    <!-- second select-->
    <mat-step [stepControl]="secondFormGroup" label="" >
      <form [formGroup]="secondFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 2">
        <mat-progress-bar mode="determinate" value="15"></mat-progress-bar>

        <br /><br /><br />
        <a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
          
          <p class="font-normal text-gray-700 dark:text-gray-400">
            {{question.questionText}}
          </p>
        </a>

        <div class="mvbuttons ">

          <button
            class="btns"
            mat-button
            formControlName=""
            matStepperNext
            class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            
            [value]="question.options[0]"
            (click)="selected1(question, question.options[0])"
            >
            Introverted
          </button>
         
          <button
            class="btns"
            mat-button
            matStepperNext
            class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            [value]="question.options[1]"
            (click)="selected1(question, question.options[1])">
            Extroverted
          </button>

          
        </div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </div>
      </form>
    </mat-step>
<!-- third input-->
    <mat-step [stepControl]="thirdFormGroup" label="">
      <form [formGroup]="thirdFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 3">
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
          
          <p class="font-normal text-gray-700 dark:text-gray-400">
           {{question.questionText}}
          </p>
        </a>

        <mat-form-field style="justify-content: center;" appearance="outline">
          <br /><br /><br /><br /><mat-label>Your Hobbies</mat-label>
          <input
            matInput
            formControlName="thirdCtrl"
            placeholder="eg.Reading or Video games"
            required
            [(ngModel)]="question.selectedOption"
            [value]="option"
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            class="text-white bg-blue-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Next
          </button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </div>
        </div>
      </form>
    </mat-step>
<!-- fourth select-->
    <mat-step [stepControl]="fourthFormGroup" label="">
      <form [formGroup]="fourthFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 4">
        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
         
          <p class="font-normal text-gray-700 dark:text-gray-400">
           {{question.questionText}}
          </p></a
        >

        <!-- <mat-form-field>
          <mat-label>Work Preference</mat-label>
          <br /><br /><br /><br /><input
            matInput
            formControlName="fourthCtrl"
            placeholder="eg.On-site or Remote"
            required
          />
        </mat-form-field> -->
        <div class="mvbuttons">
          <button
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        
          [value]="question.options[0]"
          (click)="selected1(question, question.options[0])"  >
        Remote
        </button><br>
          <button
          
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        
          [value]="question.options[1]"
          (click)="selected1(question, question.options[1])"
            >
        On-Site
        </button>
          

        </div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </div>
      </form>
    </mat-step>
<!-- fifth input-->
    <mat-step [stepControl]="fifthFormGroup" label="">
      <form [formGroup]="fifthFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 5">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
          
          <p class="font-normal text-gray-700 dark:text-gray-400">
          {{question.questionText}}
          </p>
        </a>

        <mat-form-field style="justify-content: center;" appearance="outline">
          <mat-label>Most fun you've had ! </mat-label>
          <br /><br /><br /><br /><input
            matInput
            formControlName="fifthCtrl"
            placeholder="eg.Camping,Sky-diving"
            required
            [(ngModel)]="question.selectedOption"
            [value]="option"
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            class="text-white bg-blue-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Next
          </button>
          <button mat-button matStepperPrevious>Back</button>
          
        </div>
      </div>
    </div>
      </form>
    </mat-step>

<!-- sixth select-->
    <mat-step [stepControl]="sixthFormGroup" label="">
      <form [formGroup]="sixthFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 6">
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
         
          <p class="font-normal text-gray-700 dark:text-gray-400">
            {{question.questionText}}
          </p>
        </a>

        <!-- <mat-form-field>
          <mat-label>Ever Worked or Volunteered?</mat-label>
          <br /><br /><br /><br /><input
            matInput
            formControlName="sixthCtrl"
            placeholder="eg.Yes or No"
            required
          />
        </mat-form-field> -->
        <div class="mvbuttons">
          <button
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [value]="question.options[0]"
          (click)="selected1(question, question.options[0])"
          >
          Yes I have
        </button><br>
          <button
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [value]="question.options[1]"
            (click)="selected1(question, question.options[1])"
          >
          No I haven't 
        </button>

        </div>

        <button mat-button matStepperPrevious>Back</button>
      </div>
    </div>
      </form>
    </mat-step>
<!-- seventh select -->
    <mat-step [stepControl]="seventhFormGroup" label="">
      <form [formGroup]="seventhFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 7">
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
         
          <p class="font-normal text-gray-700 dark:text-gray-400">
            {{question.questionText}}
          </p>
        </a>

       
        <div class="mvbuttons">
          <button
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        
          [value]="question.options[0]"
          (click)="selected1(question, question.options[0])"  >
         Yes I am
        </button><br>
          <button
          mat-button
          matStepperNext
          class="text-black bg-blue-200 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          [value]="question.options[1]"
          (click)="selected1(question, question.options[1])"
          >
         No I am not
        </button>
         

        </div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </div>
      </form>
    </mat-step>

<!-- eighth input -->
    <mat-step [stepControl]="eighthFormGroup" label="">
      <form [formGroup]="eighthFormGroup">
        <div *ngFor="let question of quizQuestions">
          <div *ngIf="question.questionId == 8">
        <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>

        <br /><br /><br /><a
          class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          id="bcolor"
        >
          
          <p class="font-normal text-gray-700 dark:text-gray-400">
           {{question.questionText}}
          </p>
        </a>

        <mat-form-field style="justify-content: center;" appearance="outline">
          <mat-label>Aspirations and Interests</mat-label>
          <br /><br /><br /><br /><input
            matInput
            formControlName="eighthCtrl"
            placeholder="e.g.Blogging or Chess"
            required
            [(ngModel)]="question.selectedOption"
            [value]="option"
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            class="text-white bg-blue-400 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Next
          </button>
          <button mat-button matStepperPrevious>Back</button>
          
        </div>
      </div>
    </div>
      </form>
    </mat-step>

<!-- Last page  -->
    <mat-step>
      <!-- <mat-progress-bar mode="determinate" value="100"></mat-progress-bar> -->
      <!-- <ng-template matStepLabel>Done</ng-template> -->
      <h1 class="header text-blue-400" style="justify-content: center;">
        Well Done.You have completed the Quiz!
      </h1>
      <br />
      <div>
        <a class="flex items-center">
          <img
            src="../../../assets/high-five-unscreen.gif"
            class="img h-250 w-250"
            id=""
            alt=""
          />
        </a>
        <div class="bts">
          <br /><button
            class="btn-submit"
            type="button"
            id="button"
            class="px-10 py-3.5 text-base font-medium text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-600"
            
            (click)="generateCareerQuiz()">
            Submit!
          </button>
          <br /><br /><button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<div class="eclipse-4"></div>
<div class="eclipse-2"></div>
<div class="eclipse-3"></div>

<!--LOADER-->
<div *ngIf="showLoader" class="loader-container">
  <img src="../../../assets/blue loader.gif" alt="Loading...">
  <p>Generating careers, please wait...</p>
</div>


<div  *ngIf="showRecommendations"  class="container">
  <h1 class="category-heading">Suitable Courses</h1>
  <div class="row">
      <div class="col-sm-3" *ngFor="let career of quizRecommendations; let i=index">
          <div class="mb-3 card">
              <div class="card-body">      
                  <h3 class="card-title">{{ career}}</h3>
                  <!-- <h3 class="card-title">{{ course.uniName }}</h3> -->

                  <!-- <h3 class="card-title">{{ course.courseDescription }}</h3>
                  <h3 class="card-title">{{ course.admissionRequirements}}</h3> -->
                   <!-- <button [routerLink]="['/career', course.courseName]">View Course</button> -->
                   <div class="courseDetails">
                      <a routerLink="['/career', course.courseName]">View Course <i class="bi bi-forward-fill"></i></a>
                   </div>
                   
              </div>
          </div>
      </div>
  </div>
</div>