.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

#stepper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
input{
 width:67vw !important;
}



// Use This To Modify Your Scss For Angular Material
:host {
  ::ng-deep{
    mat-progress-bar{
      height: 1.8rem;
      border-radius: 1rem;
      width: 17.5rem;
    }
    input{
      width:67vw !important;
     }

  }
}

:host {
  ::ng-deep{
    .mat-horizontal-stepper-header-container{
      display: none;
    }
  }
}


:host {
  ::ng-deep{
    .mat-form-field-wrapper{
     
      width: 380px;
      
    }
   
  }
}

 :host {
     ::ng-deep{
      .div{
          padding: 40px 40px;
          
      }
      .mvbuttons {
        // padding: 1.5rem;
        // height: 9rem;
        margin-top: 3rem;
        cursor: pointer;
        
    }

    .mvbuttons button{
      // padding: 1.5rem;
      // height: 9rem;
      // border-radius: -5rem;
      border-color: #75A1DF;
      height: 3.5rem;
      margin-top: 2rem;
      
      
  }
   }
  }
  



:host {
  ::ng-deep{
   .mat-form-field-wrapper{
    margin-top: 2rem;
   }
  }
}

.btns{
  align-items: center;
}



#bcolor{
  background-color: #75A1DF;
  color: #FFFFFF;
}
#bcolor p{
  color: #FFFFFF;
}
.eclipse-2{
  margin-bottom:  960px; 
  z-index: -99999;
 margin-left: 15rem;
 margin-bottom: 0rem;
}

.eclipse-4{
  margin-top:  40rem;

  z-index: -99999;
 margin-right: 10rem;
  

}

.eclipse-2{
  z-index: -99999;
}

.img{
  padding-bottom: 3rem;
}





.mat-form-field-infix{
  margin-left: 5rem;
}



h1{
  text-align: center;
}


:host {
  ::ng-deep{
    #bcolor[_ngcontent-qap-c103] {
      background-color: #75A1DF;
      color: #FFFFFF;
      margin-bottom: 2rem;
  }
    .mat-form-field-flex {
      display: inline-flex;
      align-items: baseline;
      box-sizing: border-box;
      width: 16.28rem;
      // margin-top: 2rem;
  }
.mat-form-field-appearance-legacy .mat-form-field-underline {
 
  display: none;
}
.snd{
  .mat-form-field {
    display: none;
    position: relative;
    text-align: left;
    margin-top: 3rem;
  }
     .mat-form-field-infix {
  display: none;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}


}

  }
}


:host {
  ::ng-deep{
    .mat-form-field {
      position: relative;
      text-align: left;
      margin-top: 3rem;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
      width: 16rem;
      // border-radius: 30px;
      border-radius: 7px;
  }
  }
}


