.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

#stepper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


// Use This To Modify Your Scss For Angular Material
:host {
  ::ng-deep{
    mat-progress-bar{
      height: 1.8rem;
      border-radius: 1rem;
    }

  }
}

:host {
  ::ng-deep{
    .mat-horizontal-stepper-header-container{
      display: none;
    }
  }
}


:host {
  ::ng-deep{
    .mat-form-field-wrapper{
     
      width: 342px;
    }
  }
}

 :host {
     ::ng-deep{
      .div{
          padding: 40px 40px;
      }
   }
  }

// :host {
//   ::ng-deep{
   
//   }
// }

:host {
  ::ng-deep{
   .mat-form-field-wrapper{
    margin-top: 2rem;
   }
  }
}


// #bcolor[_ngcontent-iqx-c103] {
//   background-color: #75A1DF;
//   color: #FFFFFF;
//   margin-bottom: 4rem;
// }
// .mat-step-header {
//   overflow: hidden;
//   outline: none;
//   margin-left: -100px;
//   cursor: pointer;
//   position: relative;
//   box-sizing: content-box;
//   -webkit-tap-highlight-color: transparent;
// }

// .mat-horizontal-stepper-header-container {
//   white-space: nowrap;
//   display: none;
//   align-items: center;
//   background-color: rebeccapurple;
// }

// .mat-horizontal-stepper-header-container{
//   display: none;
// }

#bcolor{
  background-color: #75A1DF;
  color: #FFFFFF;
}
#bcolor p{
  color: #FFFFFF;
}
.eclipse-2{
  margin-bottom:  960px; 
  z-index: -99999;
 margin-left: 20rem;
 margin-bottom: 0rem;
}

.eclipse-4{
  margin-bottom:  800px; 
  z-index: -99999;

}

.img{
  padding-bottom: 3rem;
}



// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 1.25em;
//   margin-left: 5rem;
// }

.mat-form-field-infix{
  margin-left: 5rem;
}

.btns{
  margin-left: 4rem;
}

h1{
  text-align: center;
}