<div class="container" style="overflow-y: scroll; min-height: 800px;">
    <h1 class="category-heading">Course Recommendation</h1>
    <div class="row">
        <h1>{{recommendations.length}}</h1>
      <div class="col-sm-3" *ngFor="let recommendation of recommendations">
        <div class="card mb-3">
          <!-- <img [src]="" class="card-img-top" alt="" style="max-height: 160px;"> -->
          <div class="card-body">
            <h2 class="card-title">{{ recommendation["uniName"] }}</h2>
            <h3 class="card-title">{{ recommendation["courseName"] }}</h3>
          </div>
        </div>
      </div>
    </div>
</div>