<!-- <div class="container">
  <h1 class="category-heading">Course Recommendation</h1>
  <h2>Selected Career: {{ careerChoice }}</h2>
  <h1>{{recommendations.length}}</h1>

  <div class="row">
      <div class="col-sm-3" *ngFor="let recommendation of recommendations ">
          <div class="mb-3 card">
              <div class="card-body">
                  <h2 class="card-title">{{ recommendation["uniName"] }}</h2>
                  <h3 class="card-title">{{ recommendation["courseName"] }}</h3>
              </div>
          </div>
      </div>
  </div>
</div> -->
