<!-- Add this within your 'container login-page' div -->
<!-- <div *ngIf="showResetPasswordForm">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
      <div class="form-group">
        <label for="resetOTP">Enter OTP</label>
        <input type="text" class="form-control" formControlName="resetOTP" required />
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" required />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
  </div> -->


  <div class="eclipse-1"></div>
<div class="eclipse-4"></div>
<div class="eclipse-5"></div>
<div class="eclipse-6"></div>

<div class = "container login-page" >
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">

    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container  max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class=" l-container px-6 py-8 rounded shadow-md text-black w-full">
                <img
                class="card-img-top text-center img-logo h-60 w-50"
                src="../../../assets/logo.png"
                alt="Logo"

              />
              <h2>Reset Password</h2>
                <div class="form-group pt-30">
                  <label for="resetOTP">Enter OTP</label>
                <input 
                    type="text"
                    class=" form-control"
                    formControlName="resetOTP"
                 
                    placeholder="OTP"
                   />

                  </div>
                  <div class="form-group pt-30">
                    <label for="newPassword">New Password</label>
                  <input 
                      type="text"
                      class=" form-control"
                      formControlName="password"
                   
                      placeholder="newPassword"
                     />
  
                    </div>
                <div ngClass="form-group mt-4 text-center">
                    <button type="submit" class="btn btn-primary btn-block text-white">Reset Password</button>
                  </div>
            </div>
        </div>
    </div>
</form>
</div>
<div class="eclipse-2"></div>
<div class="eclipse-3"></div>
